.title {
    width       : 100%;
    height      : 30%;
    margin-top  : 1%;
    font-size   : 48px;
    font-family : cursive;
    text-align  : center;
}
.buttonCal {
    display          : inline-block;
    position         : static;
    width            : 30%;
    height           : 10%;
    border-radius    : 2px;
    font-size        : 10px;
    margin-top       : 10%;
    margin-right     : 3%;
}

.contentCal {
    display         : inline-block;
    background-color: #999;
    border-radius   : 20px;
    box-shadow      : 10px 10px 10px #332b9c;
    position        : fixed;
    width           : 20%;
    height          : 45%;
    margin-left     : 40%;
    text-align      : center;
}

.visualizer {
    color           : white ;
    display         : inline-block;
    width           : 90%;
    height          : 13%;
    border-radius   : 10px;
    background-color: black;
    position        : relative;
    margin-left     : 2%;
    margin-top      : 5%;
    text-align      : right;
    font-size       : 40px;
}

.buttonsContainer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.AC {
    color:white;
    background-color : red;
}

.containerEqual {
    color           : white;
    background-color: blue;
    position        : relative;
    width           : 10%;
    height          : 40%;
    float           : right;
    margin-right    : 7%;
    margin-top      : 6%;
    cursor          : pointer;
    border-radius   : 5px;
}

.buttonNumericContent {
    width: 80%;
    height: 90%;
    position: relative;
    display: inline-block
}

.btnEqual {
    width     : 20%;
    height    : 10%;
    position  : relative;
    display   : inline-block;
    margin-top: 179%;
}

.contentNumeric {
    float: left;
}

